.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
}

.logo span {
  color: #2e2f42;
}

.teleport {
  color: #2e2f42;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.teleport:hover,
.teleport:focus {
  color: #404bbf;
}

.address {
  color: #434455;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  font-style: normal;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.address:hover,
.address:focus {
  color: #404bbf;
}

header .container {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 40px;
}

address ul {
  display: flex;
  gap: 40px;
}

nav {
  gap: 76px;
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header {
  border-bottom: 1px solid #e7e9fc;
}
