.portfolio-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-top: 0px;
  margin-bottom: 72px;
}

.portfolio-name {
  color: #2e2f42;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.portfolio-text {
  color: #434455;
  text-align: left;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio li {
  width: 360px;
}

.portfolio ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
